bin/
target/
.settings/
*.class
*.log
*.bak
.classpath
.project
.DS_Store
out*.html
/step-enterprise-agent-*.zip
/step-enterprise-controller-*.zip
bower_components/
*.jar
!step-functions-package/src/test/resources/TestResource.jar